<div class="main-page-button">
	<h1> Welcome please login or sign up to proceed. </h1>
	<table class="main-page-table">
		<tr>
			<td> <button  id="but1"> Login </button> </td> <td><button id="but2"> Signup </button> </td>
		</tr>


	</table>

</div>